DATABASE_URL=postgresql://postgres@localhost:5432/tenet
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tenet
DB_USER=postgres
DB_PASSWORD=""
BETTER_AUTH_URL=http://localhost:8080
BETTER_AUTH_SECRET=
STORAGE_URL=
STORAGE_PUBLIC_URL=
STORAGE_NAME=
STORAGE_ACCESS_KEY=
STORAGE_SECRET_ACCESS_KEY=
